
          <div class="header-holder">
            <h1 id="logo"><a href="index.html">NEICF</a></h1>
            <div class="nav">
              <menu-Items></menu-Items>
              <form action="dummy" method="post">
                <select name="choice" size="1" onChange="jump(this.form)" class="chzn-results">
                  <option value="index.html">home</option>
                  <option value="about.html">About</option>
                  <option value="church-event.html">Events</option>
                  <option value="gallery.html">Gallery</option>
                  <option value="#">Media</option>
                  <option value="prayer-wall.html">prayer wall</option>
                  <option value="prayer-wall.html"> - Prayer Wall</option>
                  <option value="prayer-request.html"> - prayer request</option>
                  <option value="service.html"> - Service</option>
                  <option value="404.html"> - 404</option>
                  <option value="team.html"> - team</option>
                  <option value="timeline.html"> - Timeline</option>
                  <option value="sermons.html"> - Sermons</option>
                  <option value="video.html"> - Video</option>
                  <option value="short-code.html"> - short-code</option>
                  <option value="contact-us.html">contact</option>
                </select>
              </form>
            </div>
          </div>
       