<ul class="menu menu_blue" ng-click="changeTabStyle()">
                <li accesskey="index" class="active"><a href="index.html">Home</a></li>
                <li accesskey="about" class="fullwidth"><a href="about.html">About</a></li>
                <li accesskey="events" class="fullwidth"><a href="event-detail.html">Events</a></li>
                <li accesskey="gallery" class="fullwidth"><a href="http://www.neicf.net/staff.html">Gallery</a></li>
                <li accesskey="video" class="fullwidth"><a href="video.html">Videos</a></li>
                <!--<li class="fullwidth"><a href="#">Media</a>
                  <div class="dropdown_fullwidth first_fullwidth">
                    <div class="col_2 firstcolumn">
                      <div class="inner-col">
                     <iframe src="http://player.vimeo.com/video/8282393?badge=0" width="300" height="200" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                      </div>
                    </div>
                    <div class="col_2">
                      <h2>All Pages</h2>
                      <div class="col_1 firstcolumn">
                        <ul class="plus">
                          <li><a href="#">Prayer Wall</a></li>
                          <li><a href="#">Videos</a></li>
                          <li><a href="#">Prayer Request</a></li>
                          <li><a href="#">Service</a></li>
                          <li><a href="#">404</a></li>
                          <li><a href="#">Short Code</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>-->
                <li class="fullwidth" accesskey="contact">
                <li><a href="contact-us.html">Contact</a>
                 <!-- <div class="dropdown_fullwidth first_fullwidth" id="contact-drop">
                    <div class="col_2 firstcolumn">
                      <h2>Contact Us</h2>
                      <div class="col_1 firstcolumn">
                        <form action="contact-form.php" method="post" name="contactform">
                          <fieldset>
                            <div class="row-contact">
                              <label>Name</label>
                              <input type="text" required pattern="[a-zA-Z ]+" name="name" value="">
                            </div>
                            <div class="row-contact">
                              <label>Email</label>
                              <input required pattern="^[a-zA-Z0-9-\_.]+@[a-zA-Z0-9-\_.]+\.[a-zA-Z0-9.]{2,5}$" name="email" type="text" value="">
                            </div>
                            <div class="row-contact">
                              <label>Message</label>
                              <textarea name="comments" id="comments" rows="42" cols="42"></textarea>
                            </div>
                            <input name="submit" type="submit" value="SUBMIT" class="submit-1">
                          </fieldset>
                        </form>
                        
                      </div>
                    </div>
                  </div>-->
                </li>
              </ul>